[Unit]
Description=Mangonote Full Node
After=network.target

[Service]
User=mangonote
Group=mangonote
WorkingDirectory=~
StateDirectory=mangonote
LogsDirectory=mangonote

Type=simple
ExecStart=/usr/bin/mangonoted --config-file /etc/mangonoted.conf --non-interactive
StandardOutput=null
StandardError=null

Restart=always

[Install]
WantedBy=multi-user.target
